/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.php_cs.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
bb
cc
composer-MediaStation.json
composer-reservation_system.json
dbb
dbr
dbrr
f
ff
ffinish
fstart
gg
p
pf
phpstan-bootstrap.php
r
ss
stash
uuid

