body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #808080;
    color: #FFF;
}
.seo {
    position: absolute;
    top: 10px;
    left: 0px;
    margin: 0;
    padding: 0;
    font-size: 50%;
    text-align: left;
}
.tel {
    margin: 0;
    padding: 0 0 0 25px;
    text-align: right;
    font-size: 80%;
}
.time {
    border: solid 1px #808080;
    padding: 5px 0;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    wight: 220px;
    text-align: right;
    font-size: 70%;
}
.email {
    margin: 0;
    padding: 0 0 0 25px;
    text-align: right;
    font-size: 80%;
}
.web {
    border: solid 1px #808080;
    padding: 5px 0;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    wight: 220px;
    text-align: right;
    font-size: 70%;
}
.navbar-laravel {
    background-color: #808080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-brand {
    color: #FFF !important;
}
.table-dark {
    color: #FFF;
}
.list-group-item {
    border-color: #FFF;
    background-color: #808080;
}
.login-box {
    background-color: rgba(0, 0, 0, 0);
}
.login-header {
    background-color: rgba(0, 0, 0, 0.25)
}
.login-body {
    background-color: rgba(0, 0, 0, 0.25);
}
    