body {
  color: #000;
  background-color: papayawhip;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
  .text {
    font-size: 12px;
  }
  .navbar-brand {
    font-size: 36px;
    width: 50%;
  }
  .left {
    position:absolute;
    left: 10px;
    top: 10px;
  }
  .right {
    position:absolute;
    right: 10px;
    top: 10px;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 0.8em;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
  
  .biz-hour {
    border-collapse: collapse;
  }
  @media screen and (max-width: 414px) {
    .biz-hour {/* スマホのときだけ親要素いっぱいに */
      width: 100%;
    }
  }
  .biz-hour th {
    /* １番上の線 */
    /* #A28C63っていうのが色の名前なので、ここをお好みで */
    border-top: 1px solid #A28C63;
  }
  .biz-hour th, .biz-hour td {
    padding: 10px 20px;
    text-align: center;
    /* ２番目以降の線 */
    /* 色はお好みで */
    border-bottom: 1px solid #A28C63;
  }
  
  /* 上段の背景色 */
  .biz-hour th {
    /* background: pink; */
    font-weight: normal;
  }
  
  /* 土曜日の文字色 */
  .biz-hour th.sat {
    color: #3db2da;
  }
  
  /* 日曜日の文字色 */
  .biz-hour th.sun {
    color: #e66a6a;
  }
}